.ngm-login {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: calc(15%);

  & .card {
    width: 30rem;
    align-self: center;
  }
}

.ngm-modules {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;

  -ms-flex-direction: row !important;
  flex-direction: row !important;

  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;

  -webkit-justify-content: space-between !important;
  -ms-flex-pack: distribute !important;
  justify-content: space-between !important;
}

.ngm-module {
  margin: 1rem 0 0 1rem !important;

  flex-grow: 1 !important;
}

.ngm-required {
  & label::after {
    content: " *";
    color: red;
    font-weight: bolder;
  }
}